:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 32px;

    .card-title {
        margin: 0 8px;
    }
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mdc-card {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 8px 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.card-title {
    margin: 0;
    margin-left: 8px;
}

.knowledge-button-container {
    width: 100%;
    display: flex;
    & > * {
        flex: 1 1 auto;

        &:last-child {
            margin-left: 8px;
        }
    }
}

footer {
    display: flex;
    flex: 0 0 auto;
    & > * {
        flex: 1 1 auto;
    }
}

.text {
    width: 100%;
    text-align: center;
}

.percentage-container {
    margin-bottom: 32px;
}

.starting-container {
    height: 100%;
    margin-top: 0;

    .inner-container {
        margin: auto;
    }

    .card-title {
        padding: 32px;
    }
}

.right {
    position: absolute;
    right: 8px;
    top: 32px;

    .card-title {
        margin-right: 8px;
    }
}

.answer-button {
    height: 32px !important;
}