<main>
    <div class="container">

        <div *ngIf="showPercentage">
            <h1 class="text on-background" mdcHeadline4>50%</h1>
            <mdc-linear-progress determinate [progress]="0.5" [buffer]="1"></mdc-linear-progress>
        </div>

        <mdc-card class="container__question">
            <div mdcHeadline4 class="card-title">{{activeQuestion().question}}</div>
        </mdc-card>
    
        <div class="container__question_container">
            <mdc-radio-group>
                <mdc-card class="card--active" [class.correct]="showCorrectResult && activeQuestion().correct === 1">
                    <mdc-radio [style.display]="answeringQuestions ? '' : 'none'" #radio1></mdc-radio>
                    <div mdcHeadline4 class="card-title" mdcHeadline5>{{activeQuestion().answer1}}</div>
                </mdc-card>
                <mdc-card class="card--active" [class.correct]="showCorrectResult && activeQuestion().correct === 2">
                    <mdc-radio [style.display]="answeringQuestions ? '' : 'none'" #radio2></mdc-radio>
                    <div mdcHeadline4 class="card-title" mdcHeadline5>{{activeQuestion().answer2}}</div>
                </mdc-card>
                <mdc-card class="card--active" [class.correct]="showCorrectResult && activeQuestion().correct === 3">
                    <mdc-radio [style.display]="answeringQuestions ? '' : 'none'" #radio3></mdc-radio>
                    <div mdcHeadline4 class="card-title" mdcHeadline5>{{activeQuestion().answer3}}</div>
                </mdc-card>
                <mdc-card class="card--active" [class.correct]="showCorrectResult && activeQuestion().correct === 4">
                    <mdc-radio [style.display]="answeringQuestions ? '' : 'none'" #radio4></mdc-radio>
                    <div mdcHeadline4 class="card-title" mdcHeadline5>{{activeQuestion().answer4}}</div>
                </mdc-card>
            </mdc-radio-group>
        </div>
    
        <div class="knowledge-button-container" *ngIf="showKnowledge">
            <button mdc-button class="positive-button">Wissen sie</button>
            <button mdc-button class="negative-button">Wissen sie nicht</button>
        </div>
    </div>    
</main>


<footer>
    <app-team
        *ngFor="let team of data.teams; let i = index"
        [name]="team.name" 
        [members]="team.members" 
        [active]="data.room.activeQuestion === i" 
        [showResults]="showResults">
    </app-team>
</footer>