<main>
    <div class="container">

        <div *ngIf="showPercentage">
            <h1 class="text on-background" mdcHeadline4>50%</h1>
            <mdc-linear-progress determinate [progress]="0.5" [buffer]="1"></mdc-linear-progress>
        </div>

        <mdc-card class="container__question">
            <div mdcHeadline4 class="card-title">{{activeQuestion().question}}</div>
        </mdc-card>
    
        <div class="container__question_container">
            <mdc-card class="card--active" 
                [class.active]="activeAnswer === 1"
                [class.correct]="showCorrectResult && activeQuestion().correct === 1">
                <button mdc-button raised class="top-app-bar-button" *ngIf="answeringQuestions" (click)="answer(1)"></button>
                <div mdcHeadline4 class="card-title" mdcHeadline5>{{activeQuestion().answer1}}</div>
            </mdc-card>
            <mdc-card class="card--active" 
                [class.active]="activeAnswer === 2"
                [class.correct]="showCorrectResult && activeQuestion().correct === 2">
                <button mdc-button raised class="top-app-bar-button" *ngIf="answeringQuestions" (click)="answer(2)"></button>
                <div mdcHeadline4 class="card-title" mdcHeadline5>{{activeQuestion().answer2}}</div>
            </mdc-card>
            <mdc-card class="card--active" 
                [class.active]="activeAnswer === 3"
                [class.correct]="showCorrectResult && activeQuestion().correct === 3">
                <button mdc-button raised class="top-app-bar-button" *ngIf="answeringQuestions" (click)="answer(3)"></button>
                <div mdcHeadline4 class="card-title" mdcHeadline5>{{activeQuestion().answer3}}</div>
            </mdc-card>
            <mdc-card class="card--active" 
                [class.active]="activeAnswer === 4"
                [class.correct]="showCorrectResult && activeQuestion().correct === 4">
                <button mdc-button raised class="top-app-bar-button" *ngIf="answeringQuestions" (click)="answer(4)"></button>
                <div mdcHeadline4 class="card-title" mdcHeadline5>{{activeQuestion().answer4}}</div>
            </mdc-card>
        </div>
    
        <div class="knowledge-button-container" *ngIf="showKnowledge">
            <button mdc-button class="positive-button">Wissen sie</button>
            <button mdc-button class="negative-button">Wissen sie nicht</button>
        </div>
    </div>    
</main>


<footer>
    <app-team
        *ngFor="let team of getTeams(); let i = index"
        [name]="team.name" 
        [members]="team.members" 
        [active]="data.room.activeQuestion === i" 
        [showResults]="showResults">
    </app-team>
</footer>