:host {
    margin: 8px;
}

.title {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.member {
    margin: 2px 0;
    text-align: center;
}

.text {
    text-align: center;
    margin: 2px 0;
    width: 100%;
}

mdc-card {
    display: flex;
    flex-direction: row;

    & > div:first-child {
        flex: 1 1 auto;
    }

    & > div:last-child {
        flex: 0 0 35%;
        margin-right: 4px;
    }
}