<ng-container *ngIf="data$ | async as data">
    <mdc-top-app-bar fixed [scrollTarget]="realContent" [fixedAdjustElement]="fixedContent" dense>
        <mdc-top-app-bar-row>
            <mdc-top-app-bar-section align="start" title="{{data.room.name}} - {{userService.getUser()}}">
            </mdc-top-app-bar-section>
            <mdc-top-app-bar-section align="end">
                <button mdc-button raised class="top-app-bar-button" (click)="game.startGame()" *ngIf="userService.getUser() === data.room.host">Neue Runde starten</button>
                <button mdc-button raised class="top-app-bar-button" (click)="copyInvitationLink()">Einladungslink kopieren</button>
            </mdc-top-app-bar-section>
        </mdc-top-app-bar-row>
    </mdc-top-app-bar>
    <div #fixedContent class="content">
        <div mdcDrawerAppContent class="drawer-content" #realContent>
            <app-game [users]="data.users" [room]="data.room" [jobs]="data.jobs" #game></app-game>
            <mdc-form-field>
                <mdc-checkbox></mdc-checkbox>
                <label>Label</label>
              </mdc-form-field>
        </div>
        <mdc-drawer class="drawer" dir="rtl">
            <mdc-drawer-header>
                <h3 mdcDrawerTitle>Raum</h3>
                <h6 mdcDrawerSubtitle>Nutzer</h6>
            </mdc-drawer-header>
            <mdc-drawer-content dir="rtl">
                <mdc-list>
                    <mdc-list-item *ngFor="let user of data.users" [activated]="user.name === data.room.host">
                        <mdc-icon mdcListItemGraphic>person</mdc-icon>{{user.name}}
                    </mdc-list-item>
                </mdc-list>
                <!-- <button mdc-button raised class="leave-button" (click)="leaveRoom()">Verlassen</button> -->
            </mdc-drawer-content>
        </mdc-drawer>
    </div>
</ng-container>