@use '@material/card/mdc-card';
@use '@material/card';
@use '@material/theme';

.card-title {
    @include theme.prop(color, theme.$primary);
    margin-bottom: 16px;
}

.text {
    @include theme.prop(color, theme.$primary);
}

.card--active {
    @include card.fill-color(theme.$primary);

    & .card-title {
        @include theme.prop(color, theme.$on-primary);
    }

    & .text {
        @include theme.prop(color, theme.$on-primary);
    }
}

.positive-card {
    @include card.fill-color(#1eb980);
    display: flex;
    flex-direction: column;
    
    & .text {
        @include theme.prop(color, black);
        vertical-align: center;
        flex: 1 1 auto;
    }
}

.negative-card {
    @include card.fill-color(#B00020);
    display: flex;
    flex-direction: column;
    
    & .text {
        @include theme.prop(color, white);
        vertical-align: center;
        flex: 1 1 auto;
    }
}


.correct {
    background: theme.$primary;
    background: linear-gradient(90deg, theme.$primary 0%, #1eb980 100%);
}