<ng-container *ngIf="room$ | async as room">
    <mdc-card class="container">        
        <form [formGroup]="homeForm" (ngSubmit)="submit(room)" class="form-container">
            <div mdcHeadline3 class="card-title">{{room.name}}</div>
            <ng-container formGroupName="user">
                <mdc-form-field fluid class="text-field">
                    <mdc-text-field formControlName="name" label="Username" outlined></mdc-text-field>
                </mdc-form-field>
            </ng-container>
            <ng-container formGroupName="room">
                <mdc-form-field fluid class="text-field">
                    <mdc-text-field formControlName="password" label="Password" outlined></mdc-text-field>
                </mdc-form-field>
            </ng-container>
            <div class="button-container">
                <button mdc-button raised type=submit>Join</button>
            </div>
        </form>
    </mdc-card>

</ng-container>
